<h1>{{title}}</h1>



<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            
            <td *ngIf="editingIndex !== i">{{ user.name }}</td>
            <td *ngIf="editingIndex === i">
                <input [(ngModel)]="editedUser.name">
            </td>

            <td *ngIf="editingIndex !== i"> {{ user.dni }}</td>
            <td *ngIf="editingIndex === i">
                <input [(ngModel)]="editedUser.dni">
            </td>
            
            <td>
                <button *ngIf="editingIndex !== i" (click)="Delete(user.id)">Delete</button>
                <button *ngIf="editingIndex !== i" (click)="StartEditing(i)">Modify</button>

                <button *ngIf="editingIndex === i" (click)="cancelEdit()">Cancel</button>
                <button *ngIf="editingIndex === i" (click)="Update()">Save</button>
            </td>
        </tr>
    </tbody>
</table>