<h1>{{title}}</h1>

<mat-card>
    <mat-card-title>Agregar usuario</mat-card-title>
    <mat-card-content>
        <form (submit)="create()">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text"  [(ngModel)]="newUser.name" name="name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Dni</mat-label>
                <input matInput type="text"  [(ngModel)]="newUser.dni" name="Dni" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Añadir usuario</button>
        </form>
    </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-title>Lista de Usuarios</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="users" class="mat-elevation-z8">
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let user">
            <ng-container *ngIf="editingUserId !== user.id; else editName">
              {{ user.name }}
            </ng-container>
            <ng-template #editName>
              <input matInput [(ngModel)]="editedUser.name">
            </ng-template>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> DNI </th>
          <td mat-cell *matCellDef="let user">
            <ng-container *ngIf="editingUserId !== user.id; else editDni">
              {{ user.dni }}
            </ng-container>
            <ng-template #editDni>
              <input matInput [(ngModel)]="editedUser.dni">
            </ng-template>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let user">
              <ng-container *ngIf="editingUserId !== user.id">
                <button mat-icon-button color="accent" (click)="StartEditing(user)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="Delete(user.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
    
              <ng-container *ngIf="editingUserId === user.id">
                <button mat-icon-button color="primary" (click)="Update()">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="cancelEdit()">
                  <mat-icon>close</mat-icon>
                </button>
              </ng-container>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="['name', 'dni', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'dni', 'actions'];"></tr>
    
        </table>
      </mat-card-content>
    </mat-card>