<mat-card>
    <button mat-button routerLink="/main-page">Pagina principal</button>
    <mat-card-title>Lista de tareas</mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
           
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let tasks">
                    <span class="cell-text"> {{tasks.name}} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let tasks">
                    <span class="cell-text"> {{tasks.description}} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Fecha de creacion </th>
                <td mat-cell *matCellDef="let tasks">
                    <span class="cell-text"> {{tasks.createdAt}} </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['name', 'description', 'createdAt']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['name', 'description', 'createdAt']"></tr>
        </table>
    </mat-card-content>
</mat-card>
